@model WebMVC_DB2_sp.Models.Animal

@{
    ViewData["Title"] = "Delete";
}
<h3>Are you sure you want to delete this elem with id @Html.DisplayFor(model => model.Id)?</h3>

<form asp-action="Delete">
    <a class="option" asp-action="index">Back</a>
    <input class="option" type="submit" value="Delete">
</form>